.fieldarea-caption , .text , .icon {   
   float : right !important;
}

.trigger{
float : left !important;
}


.fieldarea-field  { 
  text-align : right !important;
}

textarea, option, select {
direction: rtl !important;
}
